#container{
    position: relative;
    height: 50px;
}
.container {
    margin:150px auto;
    max-width:600px;
}

#range-label {
    width: 30%;
    height:40%;
    margin:10px auto;
    background-color:#444;
    padding:5px; border-radius:5px;
    text-align:center;
    font-size:1.2em;
    color:#fff}

#slider-container {
    position: relative;
    width: 500px;
    height:40%;
    background-color: #eeeef5;
    margin-left: 50px;
}

.slider{
    left: 0px;
}