.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#slider11{
    width: 50%;
    position: fixed;
    bottom: 10%;
    left: 7%;
}